*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes floor {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  60% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fall-low {
  0% {
    transform: translateY(-500%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fall-normal {
  0% {
    transform: translateY(-2000%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fall-high {
  0% {
    transform: translateY(-20000%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  60% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes logo {
  0% {
    opacity: 1;
    transform: rotate(-360deg);
  }
  20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes popup-small {
  0% {
    height: 0px;
    width: 0px;
  }
  50% {
    height: 50px;
    width: 20px;
  }
  100% {
    width: 100px;
  }
}
.popup-small {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 70px;
  background-color: rgb(8, 8, 8);
  border-radius: 6px;
  z-index: 9999;
  animation: popup-small 0.5s ease-out forwards;
}
.popup-small.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup-small .look {
  display: flex;
  align-items: center;
  height: 40%;
  display: flex;
}
.popup-small .look .btn-look {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}
.popup-small .look .btn-look .popup-text {
  color: white;
  font-size: 1rem;
}
.popup-small .look .btn-look .popup-v {
  margin: 3px 0 3px 10px;
  padding: 0 3px;
  background-color: greenyellow;
  color: black;
  border: none;
}
.popup-small .trash {
  display: flex;
  align-items: center;
  height: 40%;
  display: flex;
}
.popup-small .trash .btn-trash {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}
.popup-small .trash .btn-trash .popup-text {
  color: white;
  font-size: 1rem;
}
.popup-small .trash .btn-trash .popup-x {
  margin: 3px 0 3px 10px;
  padding: 0 3px;
  background-color: rgb(255, 0, 0);
  color: black;
  border: none;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Montserrat";
  color: white;
  background-color: #000000;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
}

.loading {
  position: fixed;
  width: 100px;
  height: 100px;
}
.loading .logo-loading {
  width: 100%;
  height: 80%;
  background-image: url("../img/logo.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: transform 1s;
  animation: loading 4s ease infinite;
}
.loading .text-loading {
  text-align: center;
  text-transform: uppercase;
}

.logo {
  position: absolute;
  top: 20vh;
  width: 60px;
  height: 40px;
  margin-top: 5vh;
  background-image: url("../img/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s;
  animation: logo 5s ease 4s infinite;
  z-index: 20;
  opacity: 0;
}

.logo:hover {
  background-image: url("../img/logo-hover.png");
}

.room {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 400px;
  height: 500px;
}
.room .floor {
  width: 100%;
  height: 45%;
  background-image: url("../img/floor.png");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: transform 1s;
  animation: floor 1s ease forwards;
  z-index: -10;
  opacity: 0;
}
.room .floor .floor-wood {
  width: 100%;
  height: 100%;
  transform: translateY(-500%);
  background-image: url("../img/floor-wood.png");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  animation: fall-low 0.5s ease 1s forwards;
  z-index: -9;
  opacity: 0;
}
.room .wall-left {
  position: absolute;
  top: 32%;
  left: -3%;
  width: 60%;
  height: 43%;
  background-image: url("../img/wall-left.png");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  animation: fall-low 0.5s ease-out 1.3s forwards;
  opacity: 0;
}
.room .wall-left .picture-one {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 25%;
  height: 45%;
  background-image: url("../img/picture-one.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 15;
  animation: grow 1s ease-out 2.7s forwards;
  transition: background-image 0.5s;
  opacity: 0;
}
.room .wall-left .picture-one:hover {
  background-image: url("../img/picture-one-hover.png");
}
.room .wall-left .picture-two {
  position: absolute;
  top: 13%;
  left: 52%;
  width: 25%;
  height: 45%;
  background-image: url("../img/picture-two.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 15;
  animation: grow 1s ease-out 2.9s forwards;
  transition: background-image 0.5s;
  opacity: 0;
}
.room .wall-left .picture-two:hover {
  background-image: url("../img/picture-two-hover.png");
}
.room .wall-right {
  position: absolute;
  top: 31%;
  left: 50%;
  width: 50%;
  height: 43%;
  background-image: url("../img/wall-right.png");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -5;
  animation: fall-low 0.5s ease-out 1.5s forwards;
  opacity: 0;
}
.room .flower-left {
  position: absolute;
  top: 43%;
  left: 3%;
  width: 18%;
  height: 35%;
  background-image: url("../img/flower-left.png");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  animation: fall-low 0.5s ease-out 1.6s forwards;
  transition: left 1s;
  opacity: 0;
  z-index: 2;
}
.room .flower-left:hover {
  left: 4%;
}
.room .flower-mid {
  position: absolute;
  top: 44%;
  left: 48%;
  width: 12%;
  height: 24%;
  background-image: url("../img/flower-mid.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  animation: fall-low 0.5s ease-out 2s forwards;
  transition: top 1s;
  opacity: 0;
}
.room .flower-mid:hover {
  top: 45%;
}
.room .flower-right {
  position: absolute;
  top: 52%;
  left: 79%;
  width: 20%;
  height: 30%;
  background-image: url("../img/flower-right.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  animation: fall-low 0.5s ease-out 1.9s forwards;
  transition: left 1s;
  opacity: 0;
  z-index: 2;
}
.room .flower-right:hover {
  left: 78%;
}
.room .dresser {
  position: absolute;
  top: 50%;
  left: 17%;
  width: 33%;
  height: 22%;
  background-image: url("../img/dresser.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
  animation: fall-low 0.5s ease-out 1.9s forwards;
  transition: background-image 1s;
  opacity: 0;
}
.room .dresser:hover {
  background-image: url("../img/dresser-hover.png");
}
.room .chair {
  position: absolute;
  top: 70%;
  left: 25%;
  width: 14%;
  height: 18%;
  background-image: url("../img/chair.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
  animation: fall-normal 0.5s ease-out 2s forwards;
  transition: left 1s;
  opacity: 0;
  z-index: 2;
}
.room .chair:hover {
  left: 27%;
}
.room .sofa {
  position: absolute;
  top: 52%;
  left: 54%;
  width: 33%;
  height: 30%;
  background-image: url("../img/sofa.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
  animation: fall-low 0.5s ease-out 2.1s forwards;
  transition: left 1s;
  opacity: 0;
}
.room .table {
  position: absolute;
  top: 62%;
  left: 22%;
  width: 43%;
  height: 32%;
  background-image: url("../img/table.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
  animation: fall-low 0.5s ease-out 2.2s forwards;
  opacity: 0;
}
.room .table .havoc {
  position: absolute;
  top: 38%;
  left: 48%;
  width: 34%;
  height: 22%;
  background-image: url("../img/havoc.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 3;
  animation: grow 1s ease-out 4s forwards;
  transition: background-image 0.5s;
  opacity: 0;
}
.room .table .havoc:hover {
  background-image: url("../img/havoc-hover.png");
}
.room .table .keyboard {
  position: absolute;
  top: 22%;
  left: 25%;
  width: 20%;
  height: 20%;
  background-image: url("../img/keyboard.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 10;
  animation: grow 1s ease-out 3.6s forwards;
  transition: background-image 0.5s;
  opacity: 0;
}
.room .table .keyboard:hover {
  background-image: url("../img/keyboard-hover.png");
}
.room .table .mouse {
  position: absolute;
  top: 35%;
  left: 42%;
  width: 5%;
  height: 5%;
  background-image: url("../img/mouse.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 11;
  animation: grow 0.5s ease-out 3.4s forwards;
  transition: background-image 0.5s;
  opacity: 0;
}
.room .table .mouse:hover {
  background-image: url("../img/mouse-hover.png");
}
.room .table .monitor-one {
  position: absolute;
  top: -3%;
  left: 45%;
  width: 25%;
  height: 45%;
  background-image: url("../img/monitor-one.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 5;
  animation: fall-normal 1s ease-out 2.8s forwards;
  opacity: 0;
}
.room .table .monitor-one .screen-one {
  position: absolute;
  top: 3%;
  left: 6%;
  width: 90%;
  height: 90%;
  background-image: url("../img/screen-one.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 6;
  transition: background-image 1s;
}
.room .table .monitor-one .screen-one:hover {
  background-image: url("../img/screen-one-hover.png");
}
.room .table .monitor-two {
  position: absolute;
  top: -13%;
  left: 23%;
  width: 28%;
  height: 47%;
  background-image: url("../img/monitor-two.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 5;
  animation: fall-normal 1s ease-out 2.5s forwards;
  opacity: 0;
}
.room .table .monitor-two .screen-two {
  position: absolute;
  top: 0%;
  left: 4%;
  width: 90%;
  height: 90%;
  background-image: url("../img/screen-two.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 6;
  transition: background-image 1s;
}
.room .table .monitor-two .screen-two:hover {
  background-image: url("../img/screen-two-hover.png");
}
.room .table .flower-small {
  position: absolute;
  top: 23%;
  left: 82%;
  width: 13%;
  height: 25%;
  background-image: url("../img/flower-small.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 5;
  animation: grow 1s ease-out 4.1s forwards;
  opacity: 0;
  transition: left 0.3s;
}
.room .table .flower-small:hover {
  left: 81%;
}

.preload {
  animation: none !important;
}

.disable {
  display: none;
}

@media (min-width: 667px) {
  .logo {
    top: 0vh;
  }
  .room {
    width: 400px;
    height: 400px;
  }
  .room .floor {
    width: 100%;
    height: 55%;
  }
  .room .wall-left {
    top: 14%;
    left: -3%;
    width: 60%;
    height: 55%;
  }
  .room .wall-right {
    top: 14%;
    left: 50%;
    width: 50%;
    height: 54%;
  }
  .room .flower-left {
    top: 37%;
  }
  .room .flower-mid {
    top: 34%;
    left: 48%;
    width: 12%;
    height: 24%;
  }
  .room .flower-mid:hover {
    top: 35%;
  }
  .room .flower-right {
    top: 44%;
  }
  .room .dresser {
    height: 28%;
    top: 38%;
  }
  .room .chair {
    top: 65%;
  }
  .room .sofa {
    top: 44%;
  }
  .room .table {
    top: 56%;
  }
  .room .table .keyboard {
    top: 17%;
  }
  .room .table .monitor-one {
    top: -10%;
  }
  .room .table .monitor-two {
    top: -23%;
  }
  .room .table .flower-small {
    top: 20%;
  }
}
@media (min-width: 667px) and (min-height: 600px) {
  .logo {
    top: 2vh;
    width: 100px;
    height: 75px;
  }
  .room {
    width: 800px;
    height: 800px;
  }
}
@media (max-width: 380px) {
  .logo {
    top: 10vh;
  }
  .room {
    width: 350px;
    height: 350px;
  }
  .room .floor {
    width: 100%;
    height: 55%;
  }
  .room .wall-left {
    top: 14%;
    left: -3%;
    width: 60%;
    height: 55%;
  }
  .room .wall-right {
    top: 14%;
    left: 50%;
    width: 50%;
    height: 54%;
  }
  .room .flower-left {
    top: 37%;
  }
  .room .flower-mid {
    top: 34%;
  }
  .room .flower-mid:hover {
    top: 35%;
  }
  .room .flower-right {
    top: 44%;
  }
  .room .dresser {
    height: 28%;
    top: 38%;
  }
  .room .chair {
    top: 65%;
  }
  .room .sofa {
    top: 45%;
  }
  .room .table {
    top: 56%;
  }
  .room .table .monitor-one {
    top: -10%;
  }
  .room .table .monitor-two {
    top: -23%;
  }
  .room .table .flower-small {
    top: 20%;
  }
}/*# sourceMappingURL=style.css.map */