*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.room {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 400px;
  height: 500px;
  margin-bottom: 150px;
}
.room .floor {
  width: 100%;
  height: 45%;
  background-image: url("../img/floor.png");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: transform 1s;
  animation: floor 1s ease forwards;
  z-index: -10;
  opacity: 0;
}
.room .floor .floor-wood {
  width: 100%;
  height: 100%;
  transform: translateY(-500%);
  background-image: url("../img/floor-wood.png");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  animation: fall-low 0.5s ease 1s forwards;
  z-index: -9;
  opacity: 0;
}
.room .wall-left {
  position: absolute;
  top: 32%;
  left: -3%;
  width: 60%;
  height: 43%;
  background-image: url("../img/wall-left.png");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  animation: fall-low 0.5s ease-out 1.3s forwards;
  opacity: 0;
}
.room .wall-left .picture-one {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 25%;
  height: 45%;
  background-image: url("../img/picture-one.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 15;
  animation: grow 1s ease-out 2.7s forwards;
  transition: background-image 0.5s;
  opacity: 0;
}
.room .wall-left .picture-one:hover {
  background-image: url("../img/picture-one-hover.png");
}
.room .wall-left .picture-two {
  position: absolute;
  top: 13%;
  left: 52%;
  width: 25%;
  height: 45%;
  background-image: url("../img/picture-two.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 15;
  animation: grow 1s ease-out 2.9s forwards;
  transition: background-image 0.5s;
  opacity: 0;
}
.room .wall-left .picture-two:hover {
  background-image: url("../img/picture-two-hover.png");
}
.room .wall-right {
  position: absolute;
  top: 31%;
  left: 50%;
  width: 50%;
  height: 43%;
  background-image: url("../img/wall-right.png");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -5;
  animation: fall-low 0.5s ease-out 1.5s forwards;
  opacity: 0;
}
.room .flower-left {
  position: absolute;
  top: 43%;
  left: 3%;
  width: 18%;
  height: 35%;
  background-image: url("../img/flower-left.png");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  animation: fall-low 0.5s ease-out 1.6s forwards;
  transition: left 1s;
  opacity: 0;
  z-index: 2;
}
.room .flower-left:hover {
  left: 4%;
}
.room .flower-mid {
  position: absolute;
  top: 44%;
  left: 48%;
  width: 12%;
  height: 24%;
  background-image: url("../img/flower-mid.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  animation: fall-low 0.5s ease-out 2s forwards;
  transition: top 1s;
  opacity: 0;
}
.room .flower-mid:hover {
  top: 45%;
}
.room .flower-right {
  position: absolute;
  top: 52%;
  left: 79%;
  width: 20%;
  height: 30%;
  background-image: url("../img/flower-right.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  animation: fall-low 0.5s ease-out 1.9s forwards;
  transition: left 1s;
  opacity: 0;
  z-index: 2;
}
.room .flower-right:hover {
  left: 78%;
}
.room .dresser {
  position: absolute;
  top: 50%;
  left: 17%;
  width: 33%;
  height: 22%;
  background-image: url("../img/dresser.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
  animation: fall-low 0.5s ease-out 1.9s forwards;
  transition: background-image 1s;
  opacity: 0;
}
.room .dresser:hover {
  background-image: url("../img/dresser-hover.png");
}
.room .chair {
  position: absolute;
  top: 70%;
  left: 25%;
  width: 14%;
  height: 18%;
  background-image: url("../img/chair.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
  animation: fall-normal 0.5s ease-out 2s forwards;
  transition: left 1s;
  opacity: 0;
  z-index: 2;
}
.room .chair:hover {
  left: 27%;
}
.room .sofa {
  position: absolute;
  top: 52%;
  left: 54%;
  width: 33%;
  height: 30%;
  background-image: url("../img/sofa.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
  animation: fall-low 0.5s ease-out 2.1s forwards;
  transition: left 1s;
  opacity: 0;
}
.room .table {
  position: absolute;
  top: 62%;
  left: 22%;
  width: 43%;
  height: 32%;
  background-image: url("../img/table.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
  animation: fall-low 0.5s ease-out 2.2s forwards;
  opacity: 0;
}
.room .table .havoc {
  position: absolute;
  top: 38%;
  left: 48%;
  width: 34%;
  height: 22%;
  background-image: url("../img/havoc.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 3;
  animation: grow 1s ease-out 4s forwards;
  transition: background-image 0.5s;
  opacity: 0;
}
.room .table .havoc:hover {
  background-image: url("../img/havoc-hover.png");
}
.room .table .keyboard {
  position: absolute;
  top: 22%;
  left: 25%;
  width: 20%;
  height: 20%;
  background-image: url("../img/keyboard.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 10;
  animation: grow 1s ease-out 3.6s forwards;
  transition: background-image 0.5s;
  opacity: 0;
}
.room .table .keyboard:hover {
  background-image: url("../img/keyboard-hover.png");
}
.room .table .mouse {
  position: absolute;
  top: 35%;
  left: 42%;
  width: 5%;
  height: 5%;
  background-image: url("../img/mouse.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 11;
  animation: grow 0.5s ease-out 3.4s forwards;
  transition: background-image 0.5s;
  opacity: 0;
}
.room .table .mouse:hover {
  background-image: url("../img/mouse-hover.png");
}
.room .table .monitor-one {
  position: absolute;
  top: -3%;
  left: 45%;
  width: 25%;
  height: 45%;
  background-image: url("../img/monitor-one.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 5;
  animation: fall-normal 1s ease-out 2.8s forwards;
  opacity: 0;
}
.room .table .monitor-one .screen-one {
  position: absolute;
  top: 3%;
  left: 6%;
  width: 90%;
  height: 90%;
  background-image: url("../img/screen-one.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 6;
  transition: background-image 1s;
}
.room .table .monitor-one .screen-one:hover {
  background-image: url("../img/screen-one-hover.png");
}
.room .table .monitor-two {
  position: absolute;
  top: -13%;
  left: 23%;
  width: 28%;
  height: 47%;
  background-image: url("../img/monitor-two.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 5;
  animation: fall-normal 1s ease-out 2.5s forwards;
  opacity: 0;
}
.room .table .monitor-two .screen-two {
  position: absolute;
  top: 0%;
  left: 4%;
  width: 90%;
  height: 90%;
  background-image: url("../img/screen-two.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 6;
  transition: background-image 1s;
}
.room .table .monitor-two .screen-two:hover {
  background-image: url("../img/screen-two-hover.png");
}
.room .table .flower-small {
  position: absolute;
  top: 23%;
  left: 82%;
  width: 13%;
  height: 25%;
  background-image: url("../img/flower-small.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 5;
  animation: grow 1s ease-out 4.1s forwards;
  opacity: 0;
  transition: left 0.3s;
}
.room .table .flower-small:hover {
  left: 81%;
}

@keyframes floor {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  60% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fall-low {
  0% {
    transform: translateY(-500%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fall-normal {
  0% {
    transform: translateY(-2000%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fall-high {
  0% {
    transform: translateY(-20000%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  60% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes logo {
  0% {
    opacity: 1;
    transform: rotate(-360deg);
  }
  20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes popup-small {
  0% {
    height: 0px;
    width: 0px;
  }
  50% {
    height: 65px;
    width: 10px;
  }
  80% {
    width: 120px;
  }
  100% {
    width: 100px;
  }
}
@keyframes popup-small-big-res {
  0% {
    height: 0px;
    width: 0px;
  }
  50% {
    height: 80px;
    width: 20px;
  }
  80% {
    width: 140px;
  }
  100% {
    width: 120px;
  }
}
@keyframes name-and-description {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  60% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
.popup-small {
  display: none;
  position: absolute;
  width: 100px;
  height: 65px;
  padding: 5px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.8705882353);
  border-radius: 2px;
  z-index: 99;
  animation: popup-small 0.5s ease-out forwards;
}
.popup-small.active {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.popup-small .show {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30%;
  width: 80%;
}
.popup-small .show .btn-show {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
}
.popup-small .show .btn-show .popup-text {
  color: white;
  font-size: 0.8rem;
  transition: color 0.5s;
}
.popup-small .show .btn-show .popup-text:hover {
  color: greenyellow;
}
.popup-small .show .btn-show .popup-v {
  margin-left: 10px;
  padding: 1px 3px;
  background-color: greenyellow;
  color: black;
  border: none;
}
.popup-small .trash {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30%;
  width: 80%;
  margin-top: 3px;
}
.popup-small .trash .btn-trash {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-size: 0.6rem;
}
.popup-small .trash .btn-trash .popup-text-small {
  color: white;
  font-size: 0.6rem;
}
.popup-small .trash .btn-trash .popup-text-small:hover {
  color: rgb(255, 42, 42);
}
.popup-small .trash .btn-trash .popup-x {
  margin-left: 10px;
  padding: 2px 3px;
  background-color: rgb(255, 0, 0);
  color: black;
  border: none;
  font-size: 0.8rem;
}
.popup-small .title h4 {
  margin: 4px 0;
  font-size: 0.8rem;
}

.bin {
  display: none;
  position: absolute;
  bottom: 8%;
  left: 5%;
  width: 90vw;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.8705882353);
  border-radius: 2px;
  z-index: 99;
  animation: hide-elements 0.5s ease-out forwards;
}
.bin.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bin .bin-top {
  width: 100%;
  text-align: center;
  background-color: rgb(9, 9, 9);
}
.bin .bin-top h3 {
  margin: 10px 0 10px 0;
  font-size: 0.8rem;
}
.bin .hide-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 20px;
  min-height: 80px;
}
.bin .hide-elements p {
  font-size: 0.6rem;
  margin: 5px 5px;
}
.bin .btn-restore {
  justify-self: flex-end;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 2px;
  padding: 5px 7px;
  color: white;
  font-size: 0.6rem;
  text-transform: uppercase;
  transition: 0.5s;
}
.bin .btn-restore:hover {
  background-color: white;
  color: black;
}

.popup-aboutme {
  display: none;
  position: fixed;
  bottom: 5%;
  width: 90vw;
  height: 83vh;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(14, 14, 14, 0.8);
  box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.8705882353);
  z-index: 101;
}
.popup-aboutme.active {
  display: flex;
  flex-direction: column;
}
.popup-aboutme .popup-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: rgb(7, 7, 7);
}
.popup-aboutme .popup-top h2 {
  text-transform: uppercase;
  font-size: 1rem;
  margin: 5px 0;
}
.popup-aboutme .popup-top .btn-close-aboutme {
  position: absolute;
  right: 3px;
  top: 4px;
  border: none;
  background-color: transparent;
  color: white;
  transition: 0.5s;
}
.popup-aboutme .popup-top .btn-close-aboutme:hover {
  color: #00ffa2;
}
.popup-aboutme .content {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  text-align: justify;
  overflow-y: scroll;
}
.popup-aboutme .content img {
  margin: auto;
  width: 150px;
  height: 150px;
}
.popup-aboutme .content h4 {
  margin: 25px 0 10px 0;
  font-size: 1.4rem;
}
.popup-aboutme .content p {
  margin: 7px 0;
}
.popup-aboutme .content ul {
  list-style: none;
}
.popup-aboutme .content ul li {
  margin: 2px 0;
}

html {
  font-size: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #464646;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #009961;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Montserrat";
  color: white;
  background-color: #000000;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
}

.loading {
  position: fixed;
  width: 100px;
  height: 100px;
}
.loading .logo-loading {
  width: 100%;
  height: 80%;
  background-image: url("../img/logo.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: transform 1s;
  animation: loading 4s ease infinite;
}
.loading .text-loading {
  text-align: center;
  text-transform: uppercase;
}

.logo {
  position: absolute;
  top: 15vh;
  width: 60px;
  height: 40px;
  background-image: url("../img/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s;
  animation: logo 5s ease 4s infinite;
  z-index: 20;
  opacity: 0;
}

.name {
  position: absolute;
  top: 20vh;
  text-transform: uppercase;
  opacity: 0;
  animation: name-and-description 1s ease 3s forwards;
}

.description {
  position: absolute;
  top: 23vh;
  opacity: 0;
  animation: name-and-description 1s ease 3.5s forwards;
}

.logo:hover {
  background-image: url("../img/logo-hover.png");
}

.preload {
  animation: none !important;
}

.disable {
  display: none;
}

.social {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  height: 70px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.8705882353);
}
.social .github {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.social .github i {
  font-size: 1.6rem;
}
.social .github:hover {
  background-color: #0f0f0f;
}
.social .linkedin {
  width: 34%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  transition: 0.3s;
}
.social .linkedin i {
  font-size: 1.6rem;
}
.social .linkedin:hover {
  background-color: #0f0f0f;
}
.social .mail {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.social .mail i {
  font-size: 1.6rem;
}
.social .mail:hover {
  background-color: #0f0f0f;
}

@media (min-width: 667px) {
  .logo {
    top: 5vh;
    left: 35vw;
    width: 70px;
    height: 40px;
  }
  .name {
    top: 5vh;
    left: 45vw;
    font-size: 1rem;
  }
  .description {
    top: 12vh;
    left: 45vw;
    font-size: 0.8rem;
  }
  .room {
    width: 350px;
    height: 350px;
    margin-bottom: 0;
  }
  .room .floor {
    width: 100%;
    height: 55%;
  }
  .room .wall-left {
    top: 14%;
    left: -3%;
    width: 60%;
    height: 55%;
  }
  .room .wall-right {
    top: 14%;
    left: 50%;
    width: 50%;
    height: 54%;
  }
  .room .flower-left {
    top: 37%;
  }
  .room .flower-mid {
    top: 34%;
    left: 48%;
    width: 12%;
    height: 24%;
  }
  .room .flower-mid:hover {
    top: 35%;
  }
  .room .flower-right {
    top: 44%;
  }
  .room .dresser {
    height: 28%;
    top: 38%;
  }
  .room .chair {
    top: 65%;
  }
  .room .sofa {
    top: 44%;
  }
  .room .table {
    top: 56%;
  }
  .room .table .keyboard {
    top: 17%;
  }
  .room .table .monitor-one {
    top: -10%;
  }
  .room .table .monitor-two {
    top: -23%;
  }
  .room .table .flower-small {
    top: 20%;
  }
  .bin {
    bottom: 10%;
    left: 78%;
    width: 140px;
    height: 80vh;
  }
  .bin .bin-top {
    padding: 0 20px;
  }
  .bin .bin-top h3 {
    margin: 20px 0 10px 0;
    font-size: 1rem;
  }
  .bin .hide-elements {
    flex-direction: column;
    min-height: 150px;
  }
  .bin .hide-elements p {
    font-size: 0.8rem;
    margin: 0px 5px;
  }
  .bin .btn-restore {
    margin-top: 20px;
    font-size: 0.7rem;
    padding: 5px 10px;
  }
  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 60px;
  }
  .social .github {
    width: 100%;
    height: 33%;
  }
  .social .github i {
    font-size: 1.5rem;
  }
  .social .linkedin {
    width: 100%;
    height: 33%;
  }
  .social .linkedin i {
    font-size: 1.5rem;
  }
  .social .mail {
    width: 100%;
    height: 33%;
  }
  .social .mail i {
    font-size: 1.5rem;
  }
  .popup-aboutme {
    bottom: 10%;
    width: 70vw;
    height: 70vh;
  }
  .popup-aboutme .content {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    text-align: justify;
    overflow-y: scroll;
  }
  .popup-aboutme .content img {
    width: 150px;
    height: 150px;
  }
  .popup-aboutme .content h4 {
    font-size: 1.2rem;
  }
}
@media (min-width: 667px) and (min-height: 600px) {
  .logo {
    top: 3vh;
    left: auto;
    width: 100px;
    height: 75px;
  }
  .name {
    top: 11vh;
    left: auto;
    font-size: 1.6rem;
  }
  .description {
    left: auto;
    top: 15vh;
    font-size: 1.4rem;
  }
  .room {
    width: 800px;
    height: 800px;
  }
  .popup-small {
    width: 120px;
    height: 80px;
    animation: popup-small-big-res 0.5s ease-out forwards;
  }
  .popup-small .show .btn-show {
    font-size: 1.2rem;
  }
  .popup-small .show .btn-show .popup-text {
    font-size: 1.2rem;
  }
  .popup-small .show .btn-show .popup-v {
    margin-left: 13px;
    padding: 0 3px;
  }
  .popup-small .trash .btn-trash {
    font-size: 1rem;
  }
  .popup-small .trash .btn-trash .popup-text-small {
    font-size: 1rem;
  }
  .popup-small .trash .btn-trash .popup-x {
    font-size: 1rem;
  }
  .popup-small .title h4 {
    font-size: 1.2rem;
  }
  .bin {
    bottom: 10%;
    left: 80%;
    width: 300px;
    height: 80vh;
  }
  .bin .bin-top h3 {
    margin: 40px 0 20px 0;
    font-size: 1.6rem;
  }
  .bin .hide-elements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
  }
  .bin .hide-elements p {
    font-size: 1.2rem;
    margin: 5px 5px;
  }
  .bin .btn-restore {
    margin-top: 30px;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 3px;
  }
  .bin .btn-restore:hover {
    background-color: white;
    color: black;
  }
  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.8705882353);
  }
  .social .github {
    width: 100%;
    height: 33%;
  }
  .social .github i {
    font-size: 2.5rem;
  }
  .social .linkedin {
    width: 100%;
    height: 33%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transition: 0.3s;
  }
  .social .linkedin i {
    font-size: 2.5rem;
  }
  .social .mail {
    width: 100%;
    height: 33%;
  }
  .social .mail i {
    font-size: 2.5rem;
  }
  .popup-aboutme {
    bottom: 10%;
    width: 50vw;
    height: 70vh;
  }
  .popup-aboutme .content {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    text-align: justify;
    overflow-y: scroll;
  }
  .popup-aboutme .content img {
    width: 250px;
    height: 250px;
  }
  .popup-aboutme .content h4 {
    margin-top: 50px;
    font-size: 1.8rem;
  }
  .popup-aboutme .content p {
    font-size: 1.3rem;
  }
  .popup-aboutme .content ul li {
    font-size: 1.3rem;
  }
}
@media (max-width: 360px) {
  .logo {
    top: 17vh;
  }
  .name {
    top: 22vh;
  }
  .description {
    top: 25vh;
  }
  .room {
    top: 7vh;
    width: 350px;
    height: 350px;
  }
  .room .floor {
    width: 100%;
    height: 55%;
  }
  .room .wall-left {
    top: 14%;
    left: -3%;
    width: 60%;
    height: 55%;
  }
  .room .wall-right {
    top: 14%;
    left: 50%;
    width: 50%;
    height: 54%;
  }
  .room .flower-left {
    top: 37%;
  }
  .room .flower-mid {
    top: 34%;
  }
  .room .flower-mid:hover {
    top: 35%;
  }
  .room .flower-right {
    top: 44%;
  }
  .room .dresser {
    height: 28%;
    top: 38%;
  }
  .room .chair {
    top: 65%;
  }
  .room .sofa {
    top: 45%;
  }
  .room .table {
    top: 56%;
  }
  .room .table .monitor-one {
    top: -10%;
  }
  .room .table .monitor-two {
    top: -23%;
  }
  .room .table .flower-small {
    top: 20%;
  }
  .bin {
    bottom: 4vh;
  }
}/*# sourceMappingURL=style.css.map */