@keyframes floor {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  60% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fall-low {
  0% {
    transform: translateY(-500%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fall-normal {
  0% {
    transform: translateY(-2000%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fall-high {
  0% {
    transform: translateY(-20000%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  60% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}

@keyframes logo {
  0% {
    opacity: 1;
    transform: rotate(-360deg);
  }
  20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes popup-small {
  0% {
    height: 0px;
    width: 0px;
  }
  50% {
    height: 65px;
    width: 10px;
  }
  80% {
    width: 140px;
  }
  100% {
    width: 120px;
  }
}

@keyframes popup-small-big-res {
  0% {
    height: 0px;
    width: 0px;
  }
  50% {
    height: 80px;
    width: 20px;
  }
  80% {
    width: 170px;
  }
  100% {
    width: 150px;
  }
}

@keyframes name-and-description {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  60% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
