@media (min-width: 667px) {
  .logo {
    top: 5vh;
    left: 35vw;
    width: 70px;
    height: 40px;
  }
  .name {
    top: 5vh;
    left: 45vw;
    font-size: 1rem;
  }
  .description {
    top: 12vh;
    left: 45vw;
    font-size: 0.8rem;
  }
  .room {
    width: 350px;
    height: 350px;
    margin-bottom: 0;
    .floor {
      width: 100%;
      height: 55%;
    }
    .wall-left {
      top: 14%;
      left: -3%;
      width: 60%;
      height: 55%;
    }
    .wall-right {
      top: 14%;
      left: 50%;
      width: 50%;
      height: 54%;
    }
    .flower-left {
      top: 37%;
    }
    .flower-mid {
      top: 34%;
      left: 48%;
      width: 12%;
      height: 24%;
    }
    .flower-mid:hover {
      top: calc(34% + 1%);
    }
    .flower-right {
      top: 44%;
    }
    .dresser {
      height: 28%;
      top: 38%;
    }
    .chair {
      top: 65%;
    }
    .sofa {
      top: 44%;
    }
    .table {
      top: 56%;
      .keyboard {
        top: 17%;
      }
      .monitor-one {
        top: -10%;
      }
      .monitor-two {
        top: -23%;
      }
      .flower-small {
        top: 20%;
      }
    }
  }
  .bin {
    bottom: 10%;
    left: 78%;
    width: 140px;
    height: 80vh;
    .bin-top {
      padding: 0 20px;
      h3 {
        margin: 20px 0 10px 0;
        font-size: 1rem;
      }
    }
    .hide-elements {
      flex-direction: column;
      min-height: 150px;
      p {
        font-size: 0.8rem;
        margin: 0px 5px;
      }
    }
    .btn-restore {
      margin-top: 20px;
      font-size: 0.7rem;
      padding: 5px 10px;
    }
  }
  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 60px;
    .github {
      width: 100%;
      height: 33%;
      i {
        font-size: 1.5rem;
      }
    }
    .linkedin {
      width: 100%;
      height: 33%;
      i {
        font-size: 1.5rem;
      }
    }
    .mail {
      width: 100%;
      height: 33%;
      i {
        font-size: 1.5rem;
      }
    }
  }
  .popup-aboutme {
    bottom: 10%;
    width: 70vw;
    height: 70vh;
    .content {
      display: flex;
      flex-direction: column;
      padding: 30px 40px;
      text-align: justify;
      overflow-y: scroll;
      img {
        width: 150px;
        height: 150px;
      }
      h4 {
        font-size: 1.2rem;
      }
    }
  }
}

@media (min-width: 667px) and (min-height: 600px) {
  .logo {
    top: 3vh;
    left: auto;
    width: 100px;
    height: 75px;
  }
  .name {
    top: 11vh;
    left: auto;
    font-size: 1.6rem;
  }
  .description {
    left: auto;
    top: 15vh;
    font-size: 1.4rem;
  }
  .room {
    width: 800px;
    height: 800px;
  }
  .popup-small {
    width: 90px;
    height: 70px;
    padding-right: 10px;
    border-radius: 6px;
    animation: popup-small-big-res 0.5s ease-out forwards;

    .show {
      .btn-show {
        font-size: 1.2rem;
        .popup-text {
          font-size: 1.2rem;
        }
        .popup-v {
          margin-left: 13px;
          padding: 0 3px;
        }
      }
    }
    .trash {
      .btn-trash {
        font-size: 1rem;
        .popup-text-small {
          font-size: 1rem;
        }
        .popup-x {
          font-size: 1rem;
        }
      }
    }
  }
  .bin {
    bottom: 10%;
    left: 80%;
    width: 300px;
    height: 80vh;
    .bin-top {
      h3 {
        margin: 40px 0 20px 0;
        font-size: 1.6rem;
      }
    }
    .hide-elements {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 70%;
      p {
        font-size: 1.2rem;
        margin: 5px 5px;
      }
    }
    .btn-restore {
      margin-top: 30px;
      font-size: 1rem;
      padding: 10px 20px;
      border-radius: 3px;
    }
    .btn-restore:hover {
      background-color: white;
      color: black;
    }
  }
  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 120px;
    background-color: rgba($color: #000000, $alpha: 0.7);
    -webkit-box-shadow: 0px 4px 15px -2px #000000de;
    box-shadow: 0px 4px 15px -2px #000000de;
    .github {
      width: 100%;
      height: 33%;
      i {
        font-size: 2.5rem;
      }
    }
    .linkedin {
      width: 100%;
      height: 33%;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      transition: 0.3s;
      i {
        font-size: 2.5rem;
      }
    }
    .mail {
      width: 100%;
      height: 33%;
      i {
        font-size: 2.5rem;
      }
    }
  }
  .popup-aboutme {
    bottom: 10%;
    width: 50vw;
    height: 70vh;
    .content {
      display: flex;
      flex-direction: column;
      padding: 30px 50px;
      text-align: justify;
      overflow-y: scroll;
      img {
        width: 250px;
        height: 250px;
      }
      h4 {
        margin-top: 50px;
        font-size: 1.8rem;
      }
      p {
        font-size: 1.3rem;
      }
      ul {
        li {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .logo {
    top: 17vh;
  }
  .name {
    top: 22vh;
  }
  .description {
    top: 25vh;
  }
  .room {
    top: 7vh;
    width: 350px;
    height: 350px;
    .floor {
      width: 100%;
      height: 55%;
    }
    .wall-left {
      top: 14%;
      left: -3%;
      width: 60%;
      height: 55%;
    }
    .wall-right {
      top: 14%;
      left: 50%;
      width: 50%;
      height: 54%;
    }
    .flower-left {
      top: 37%;
    }
    .flower-mid {
      top: 34%;
    }
    .flower-mid:hover {
      top: calc(34% + 1%);
    }
    .flower-right {
      top: 44%;
    }
    .dresser {
      height: 28%;
      top: 38%;
    }
    .chair {
      top: 65%;
    }
    .sofa {
      top: 45%;
    }
    .table {
      top: 56%;
      .monitor-one {
        top: -10%;
      }
      .monitor-two {
        top: -23%;
      }
      .flower-small {
        top: 20%;
      }
    }
  }
  .bin {
    bottom: 4vh;
  }
}
